body{
  font-family: Emigre;
}

/*index.html modifiers*/

.homepage h1{
 color:white; 
}

.homepage .container-grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  margin-top:30px;
}
.homepage{
  background-image:url("background.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.homepage .container-box{
  border:3px solid blue;
  padding:20px;
  background:lightgreen;
    opacity: 0.8;

}

.homepage .highlight{
  background:blue;
}

/*data.html modifiers*/
.dataSearch #search{
  align-items:center;
  gap:20px;
  padding:4px;
}

.infoPage .statGraph{
display:flex;
align-items:center;
gap:10px;
margin:5px 0;
}

.infoPage .statName{
width:80px;
}

.infoPage .barBackground{
width:200px;
height:15px;
background:#ddd;
border-radius:4px;
overflow:hidden;
}

.infoPage .barFill{
height:100%;
background:#4CAF50;
}

.infoPage .statValue{
width:30px;
text-align:right;
}
.infoPage{
  background-image:url("pokemonDataSet/background.webp");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
.dataSearch .container{
  display:flex;
  background:whitesmoke;
  width:250px;
  opacity:0.9;
  margin-top:20px;
}
.dataSearch{
  background-image:url("pokemonDataSet/backgroundList.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
