body{
  font-family: Emigre;
}

/*index.html modifiers*/

.homepage h1{
 color:black; 
}

.homepage{
  background-image:url("background.gif");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.homepage .highlight{
  background:blue;
}

.homepage .sidebar{
  display:flexbox;
  width:240px;
  height:250px;
  opacity:0.8;
 box-sizing: border-box;
 border-image:url("border.png");
  border-image-slice: 100;
  image-rendering: pixelated; 
  border-image-width: 90px;
  background-color: lightyellow;
  padding: 1px;
  text-align: center;
  border-image-outset: 10px;
  float:left;

}
.homepage h4{  
  margin-bottom: 0;
    padding-bottom: 0;
    margin-top:1;
}
.homepage .title{
  display:flexbox;
  width:250px;
  text-align:center;
  background-size:cover;
  box-sizing: border-box;
  border-image:url("titleBorder.png");
  border-image-slice: 170;
  border-image-width: 100px;
  text-align: center;
  padding:12px;
  border-image-outset: 18px;
  background: lightblue;
  
}

/*data.html modifiers*/

.dataSearch #search{
  align-items:center;
  gap:20px;
  padding:4px;
}

.infoPage .statGraph{
display:flex;
align-items:center;
gap:10px;
margin:5px 0;
}

.infoPage .statName{
width:80px;
}

.infoPage .barBackground{
width:200px;
height:15px;
background:#ddd;
border-radius:4px;
overflow:hidden;
}

.infoPage .barFill{
height:100%;
background:#4CAF50;
}

.infoPage .statValue{
width:30px;
text-align:right;
}
.infoPage{
  background-image:url("pokemonDataSet/background.webp");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
.dataSearch .container{
  display:flex;
  background:whitesmoke;
  width:250px;
  opacity:0.9;
  margin-top:20px;
  border-image:url("pokemonDataSet/frame1.png");
  border-image-slice: 200;
  border-image-width: 30px;
  padding:5px;
  border-image-outset: 10px;
}
.dataSearch{
  background-image:url("pokemonDataSet/backgroundList.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

/*mcImbed changes*/


